@font-face {
    font-family: "Eve Sans Neue";
    src: url("../assets/fonts/evesansneue-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Eve Sans Neue";
    src: url("../assets/fonts/evesansneue-condensed.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: "Eve Sans Neue";
    src: url("../assests/fonts/evesansneue-expanded.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-stretch: expanded;
}
* {
    font-family: "Eve Sans Neue", sans-serif;
}
/* Reset & Basic Styles */
body {
    font-family: "Eve Sans Neue";
    background: radial-gradient(circle, #00042899, #004e9299);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}